<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 身份补救</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'cn/css/service/i20.css' %}">
    <link rel="stylesheet" href="{% static 'cn/css/master/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/master/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/service/i20.js' %}"></script>
  </head>

  <body>
    <header>
      <header>
        <div id="top_banner" class="row">
          <div class="col-md-6">
            <img id="logo_image" src="./../static/eng/images/logo.png" alt="logo" class="img-thumbnail" width="160" height="250">
            <h3 id="logo_text">派克 <br>教育</h3>
          </div>

          <div id="banner_info" class="col-md-6">
            <div id="banner_right">
              <div id="banner_contact" style="display:inline-block">
                <h5><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;邮箱: <span class="number_email">pike@mrpikeedu.com</span></h5>
                <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;美国电话: <span class="number_email">1-626-632-6056</span></h5>
                <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;中国电话: <span class="number_email">95040498706</span></h5>
                <div id="social_icon">
                  <a class="social_icon" href="https://www.facebook.com/PikeInternational/"><i class="fa fa-facebook-official" style="font-size:36px;color:#1107cc"></i></a>
                  <a class="social_icon" href="#"><i class="fa fa-twitter-square" style="font-size:36px;color:#1107cc"></i></a>
                  <a class="social_icon" href="#"><i class="fa fa-google-plus" style="font-size:36px;color:#1107cc"></i></a>
                  <a class="social_icon" href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:#1107cc"></i></a>
                  <a class="social_icon" href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#1107cc"></i></a>
                  <a class="social_icon" href="#"><i class="fa fa-instagram" style="font-size:36px;color:#1107cc"></i></a>
                </div>
              </div>


              <div id="banner_language">
                <i class="fa fa-language" style="font-size:50px;font-weight:bolder" aria-hidden="true"></i>
                <a class="nav-link dropdown-toggle" href="#" id="language_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  选择语言
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/">中文</a>
                  <a class="dropdown-item" href="/us">英文</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-item nav-link" href="/">派克主页</a>
                  <a class="nav-item nav-link" href="/service">派克服务</a>
                  <a class="nav-item nav-link" href="/tour">派克游学</a>
                  <a class="nav-item nav-link" href="/bootcamp">派克培训</a>
                  <a id="sos" class="nav-item nav-link active" href="#">紧急应对<i class="material-icons" style="font-size:24px">add_alert</i><span class="sr-only">(current)</span></a>
                  <a class="nav-item nav-link" href="/aboutus">关于派克</a>
                  <a class="nav-item nav-link" href="/contact">联系派克</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
    </header>

    <main style="padding:5%">
      <div class="" style="text-align:center">
        <h2>I-20失效 留学紧急应对</h2>
        <p>很多家长和学生都认为，只要拿到美国大学的录取通知书及I-20获得F1学生签证，便可顺利完成在美学业。其实在美国的求学过程中，学生会因为对法律政策的不了解，或在学习中遇到自己所不能解决的困境，对自身学生身份产生不利情况。
          学术和生活上的双重压力均不可小觑，一旦遇到问题也不必慌张，派克国际教育总能助你一臂之力。</p>
      </div>
      <br>
      <h3 style="text-align:center">被美国学校开除/停学的原因</h3>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <figure class="snip1190">
          <img class="i20_image" src="./../static/cn/images/service/1.jpg" alt="why_i20_1">
          <figcaption>
            <h2>GPA<span>因素</span></h2>
            <p>GPA太低，单科考试成绩太低，挂科率太高，日常作业经常不提交被美国大学开除、停学</p>
          </figcaption>
          <!-- <a href="#"></a> -->
          </figure>
          <!-- <img  src="./../static/cn/images/service/1.jpg" alt="" width="100%"> -->
        </div>
        <div class="col-md-5">
          <figure class="snip1190">
            <img class="i20_image" src="./../static/cn/images/service/2.jpg" alt="">
            <figcaption>
              <h2>学术<span>诚信</span></h2>
              <p>考试作弊被抓，抄袭论文，考试时用小抄书本或手机电子设备被发现，论文摘抄网络上现有资料未标注引用均有机会被开除。</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <figure class="snip1190">
            <img class="i20_image"  src="./../static/cn/images/service/3.jpg" alt="">
            <figcaption>
              <h2>出勤<span>问题</span></h2>
              <p>由于贪玩贪睡翘课，身体或精神因素缺课太多造成出勤率过低而被学校开除。</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-5">
          <figure class="snip1190">
            <img class="i20_image"  src="./../static/cn/images/service/4.jpg" alt="">
            <figcaption>
              <h2>代写<span>代考</span></h2>
              <p>有偿支付枪手或拜托朋友代替上课、完成作业，购买论文，替同学参加考试被学校发现被开除。</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <br>
      <h1>被美国学校开除/停学/I-20失效 处理结果及应对措施：</h1>

      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width:80%;margin:auto">
            <div class="card_head">
              <i class="material-icons" style="font-size:48px;color:red">add_alert</i>
              <h2>学术警告</h2>
              <p>就读学校给学生发出警告信，告知学生行为违反校规，再给学生一次机会，如果再次出现违反校规行为将受到更严格的处分。</p>
            </div>
            <div id="card_body" class="card-body">
              <h4 class="card-title">应对措施</h4>
              <p class="card-text">派克国际教育帮助学生分析具体情况，及时与校方交流沟通，一起规划新的留学方案。</p>
              <div class="contact_button">
                <a href="/contact" class="btn btn-primary">联系我们</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width:80%;margin:auto">
            <div class="card_head">
              <i class="material-icons" style="font-size:48px;color:red">visibility</i>
              <h2>留校察看</h2>
              <p>美国学校会针对学生个案情况来决定是否给出留校察看的处罚，有可能需要参加学校内部听证会，并且将计入学生学术档案，未来转学升学时新学校会看到。</p>
            </div>
            <div id="card_body" class="card-body">
              <h4 class="card-title">应对措施</h4>
              <p class="card-text">派克国际教育的法务代表将帮助学生撰写高质量申诉信，陪伴出席听证会争取学生最大权益，改变学校决定，从轻处罚，尽可能不将处罚记录计入学生学术档案。同时为学生制定补足自身学术短板的方案。</p>
              <div class="contact_button">
                <a href="/contact" class="btn btn-primary">联系我们</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width:80%;margin:auto">
            <div class="card_head">
              <i class="material-icons" style="font-size:48px;color:red">warning</i>
              <h2>停学处分</h2>
              <p>学生违纪行为比较严重，将受到停学处分。此时学生的F1学生身份被终止，I-20失效，学生在短时间内被要求离开美国国境。</p>
            </div>
            <div id="card_body" class="card-body">
              <h4 class="card-title">应对措施</h4>
              <p class="card-text">派克国际教育帮助学生紧急转学，维持F1学生身份，同时帮助学生撰写高质量申诉信，争取将学生返回原校。</p>
              <div class="contact_button">
                <a href="/contact" class="btn btn-primary">联系我们</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="card" style="width:80%;margin:auto">
            <div class="card_head">
              <i class="fa fa-minus-square" style="font-size:48px;color:red"></i>
              <h2>开除学籍</h2>
              <p>学生违纪行为极其严重，校方通常直接开除学生。这种开除决定一般为永久性的，申述机率极小，除非有非常适当的原因及理由进行合理解释。</p>
            </div>
            <div id="card_body" class="card-body">
              <h4 class="card-title">应对措施</h4>
              <p class="card-text">派克国际教育的法务代表将帮助学生撰写高质量申诉信，同时为学生办理紧急转学，激活学生身份，已确定保持合法学生身份不会被美国递解出境。</p>
              <div class="contact_button">
                <a href="/contact" class="btn btn-primary">联系我们</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <div class="card" style="width:80%;margin:auto">
            <div class="card_head">
              <i class="fa fa-times-circle-o" style="font-size:48px;color:red"></i>
              <h2>学生身份已失效</h2>
              <p>学生违纪或未达学术要求被学校开除时间不超过5个月，I-20失效，visa过期，已丢失学生身份数月。已无法向学校申述，但可向移民局申请恢复合法学生身份。</p>
            </div>
            <div id="card_body" class="card-body">
              <h4 class="card-title">应对措施</h4>
              <p class="card-text">派克国际教育会为学生转入可以接收被开除学生的学校，协助转学，同时派克国际教育的律师将代表学生向移民局提出申请并附上申诉信、
                解释信争取恢复学生身份。期间学生需保持全勤出勤，争取优秀的成绩。这将增大移民局通过的概率。</p>
              <div class="contact_button">
                <a href="/contact" class="btn btn-primary">联系我们</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br>
      <div style="padding:3%; text-align:center">
        <h3> 委托派克国际教育办理此类案件的成功概率高达90%以上。 我们拥有专业知识和法律团队，合作院校遍布全美，积累的学术紧急处理案件数以千计，可以为学生提供最快速、最稳妥的解决方案。
          无论你有任何学生身份的疑难杂症都可以在我们这里得到最佳的解决。派克国际教育，金牌留学医生。</h3>
      </div>
    </main>

    <footer style="height:300px;background-color:grey">

    </footer>
  </body>
</html>
