<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 培训</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'eng/css/master/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'cn/css/bootcamp/film2.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/master/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <header>
      <div id="top_banner" class="row">
        <div class="col-md-6">
          <img id="logo_image" src="./../static/eng/images/logo.png" alt="logo" class="img-thumbnail" width="160" height="250">
          <h3 id="logo_text">派克 <br>教育</h3>
        </div>

        <div id="banner_info" class="col-md-6">
          <div id="banner_right">
            <div id="banner_contact" style="display:inline-block">
              <h5><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;邮箱: <span class="number_email">pike@mrpikeedu.com</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;美国电话: <span class="number_email">1-626-632-6056</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;中国电话: <span class="number_email">95040498706</span></h5>
              <div id="social_icon">
                <a class="social_icon" href="https://www.facebook.com/PikeInternational/"><i class="fa fa-facebook-official" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-twitter-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-google-plus" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-instagram" style="font-size:36px;color:#1107cc"></i></a>
              </div>
            </div>

            <div id="banner_language">
              <i class="fa fa-language" style="font-size:50px;font-weight:bolder" aria-hidden="true"></i>
              <a class="nav-link dropdown-toggle" href="#" id="language_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择语言
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">中文</a>
                <a class="dropdown-item" href="/us">英文</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">派克主页</a>
                <a class="nav-item nav-link" href="/service">派克服务</a>
                <a class="nav-item nav-link" href="/tour">派克游学</a>
                <a class="nav-item nav-link" href="/bootcamp">派克培训</a>
                <a id="sos" class="nav-item nav-link" href="/service/i20">紧急应对<i class="material-icons" style="font-size:24px">add_alert</i></a>
                <a class="nav-item nav-link" href="/aboutus">关于派克</a>
                <a class="nav-item nav-link" href="/contact">联系派克</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <img src="" alt="USC_Film_Banner">
        </div>
        <div class="intro">
          <h2>南加州大学 & 派克国际教育</h2>
          <h3>动画 游戏 电影 设计 专业短期培训课程介绍</h3>
          <p>南加州大学是美国第一所授予电影艺术学士学位的大学，南加州大学电影艺术学院对美国 电影，电视，电影研究，动画，纪录片，广告以及交互媒体都颇有建树。因此，学校一直 在全美各大电影学院中排名第一。
            学院的校友包括了在全世界各专业院校的学者，艺术 家，技术人员，编剧，导演以及电影工业的行政人员。许多校友都是各自领域的佼佼者。 校友们荣获过各种电影电视业界的奖项。
            从奥斯卡奖和艾美奖到美国及世界各大电影节， 都留下了南加州大学电影艺术学院校友们的光辉成绩。自 1965 年以来，平均每两年就有 一位校友获得奥斯卡奖的提名。
            学院在保留传统的同时，也在不断改进已有的课程来适应 不断变化的媒体艺术与技术的新浪潮。南加州大学电影艺术学院努力地领导着电影，电视 制作，电影教育和学术研究等各个方面。
            许多电影公司、知名校友在捐建世界一流的电 影电视中心，提供一流的教学设施和设备。
            学校建有 乔治·卢卡斯教学楼、马西娅·卢卡斯 后期制作大楼、史蒂文·斯皮尔伯格电影配乐录音棚、哈罗德·劳埃德摄影棚、约翰尼·卡森 摄影棚。
          </p>

          <p>全美第一的影视艺术学院是南加大中最出名的学院，授予学位给文学考论,编剧,电影制片,电影创作，在 2001 年, 影剧学院新增了南加大互动多媒体部门，研究包括立体电影、超宽银幕电影、沉寖体验电影、
            互动电影、电玩、虚拟实境和行动多媒体 等新媒体形态。
            <img src="" alt="USC_Film_1" align=right>
          </p>
          <p>许多校友都是各自领域的佼佼者。校友们荣获过各种电影电视业界的奖项。从奥斯卡奖和 艾美奖到美国及世界各大电影节，都留下了南加州大学电影艺术学院校友们的光辉成绩。 自 1965 年以来，平均每两年就有一位校友获得奥斯卡奖的提名。
            学院在保留传统的同 时，也在不断改进已有的课程来适应不断变化的媒体艺术与技术的新浪潮。南加州大学电 影艺术学院努力地领导着电影，电视制作，电影教育和学术研究等各个方面。 许多电影 公司、知名校友在捐建世界一流的电影电视中心，
            提供一流的教学设施和设备。 学校建 有 乔治·卢卡斯教学楼、马西娅·卢卡斯后期制作大楼、史蒂文·斯皮尔伯格电影配乐录音 棚、哈罗德·劳埃德摄影棚、约翰尼·卡森摄影棚等。
          </p>
          <div class="row">
            <div class="col-md-4">
              <img src="" alt="USC_Film_2">
            </div>
            <div class="col-md-8">
              <img src="" alt="USC_Film_3">
            </div>
          </div>
        </div>
        <div class="production">
          <h2>Film & Television Production 电影电视制作</h2>
          <div class="row">
            <div class="col-md-6">
              <img src="" alt="USC_Production">
            </div>
            <div class="col-md-6">
              <p>电影电视媒体已经成为当前最为大众化，最具影响力的媒体型式。从好莱坞电影所创造的幻想世界，到电视新闻所关注的现实生活，到铺天盖地的电视广告，无不深刻地影响着我们的世界。
                过去，影视节目的制作只是专业人员的工作，似乎还拢罩着一层神秘的面纱。
              </p>
            </div>
          </div>
          <p>十几年来，数字技术全面进入影视制作过程，计算机逐步取代了许多原有的影视设备，在影视制作的各个环节发挥了很重大的作用。但是直到不久之前，影视制作使用的一直是价
            格极端昂贵的专业硬件及软件，非专业的人员很难有机会见到这些设备，更不用说熟练掌握这些工具来制作自己的作品了。
          </p>
        </div>
        <div class="digital_art">
          <h2>The John C. Hench Division of Animation & Digital Arts 动画与数字媒体专业</h2>
          <div class="row">
            <img src="" alt="Digital_Banner">
          </div>
          <p>数字媒体艺术专业培养具有良好的科学素养以及美术修养、既懂技术又懂艺术、能利用计算机新的媒体设计工具进行艺术作品的设计和创作的复合型应用设计人才。
            主要学习计算机科学与技术的基本理论、知识和技能，能熟练掌握各种数字媒体制作软件，具有较好的美术鉴赏能力和一定的美术设计能力。
          </p>
          <p>数字影视制作方向致力于培养具有较高的理论水平和综合的艺术素养，掌握必备的数字影视应用技术，运用艺术创新思维进行数字影视短片制作、影视广告制作、移
              动多媒体视频制作等数字影视领域相关创作，并能进行栏目整体形象策划与包装，具有现代创新意识的艺术和技术相结合的复合型高级人才。
          </p>
        </div>
        <div class="game">
          <h2>Interactive Media & Games 互动媒体与游戏</h2>
          <p>游戏设计或游戏策划是设计游戏内容和规则的一个过程，好的游戏设计是这样一个过程: 创建能激起玩家通关热情的目标，以及玩家在追求这些目标时做出的有意义的决定需遵循 的规则。
            这个术语同时也可以表示游戏实际设计中的具体实现和描述设计细节的文档。游 戏设计涉及到好几个范畴 :游戏规则及玩法、视觉艺术、编程、产品化、声效、编剧、 游戏角色、道具、场景、
            界面以上的元素都是一个游戏设计专案所需要的。
          </p>
          <div class="row">
            <div class="col-md-6">
              <img src="" alt="media_game_1">
            </div>
            <div class="col-md-6">
              <img src="" alt="media_game_2">
            </div>
          </div>
          <p>创作一个游戏人物、场景的主要流程是:</p>
          <p>原画创作、建模、材质、灯光及渲染、骨骼设定、动画、特效等部分。</p>
          <p> <img src="" alt="media_game_3" align=left> MAEC 代表是动漫制作过程中的四个 重要应用方面，M 代表 Modeling(建 模)，A 代表 Animation(动画)，E 代表 Effects(特效)，C 代表 Compositing(后期合成)</p>
          <p><img src="" alt="media_game_4" align=right> MAEC 全科课程针对基础较差的学 员，对 MAEC 中的 B 模块(basic)进 行了一定的加强，学习过程中会涉及 到 MAEC 的四个专业模块，在学习的过程中对学员的兴趣以及就业方向再来进行引导。</p>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
