<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 培训</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'eng/css/master/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'cn/css/bootcamp/film.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/master/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <header>
      <div id="top_banner" class="row">
        <div class="col-md-6">
          <img id="logo_image" src="./../static/eng/images/logo.png" alt="logo" class="img-thumbnail" width="160" height="250">
          <h3 id="logo_text">派克 <br>教育</h3>
        </div>

        <div id="banner_info" class="col-md-6">
          <div id="banner_right">
            <div id="banner_contact" style="display:inline-block">
              <h5><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;邮箱: <span class="number_email">pike@mrpikeedu.com</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;美国电话: <span class="number_email">1-626-632-6056</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;中国电话: <span class="number_email">95040498706</span></h5>
              <div id="social_icon">
                <a class="social_icon" href="https://www.facebook.com/PikeInternational/"><i class="fa fa-facebook-official" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-twitter-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-google-plus" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-instagram" style="font-size:36px;color:#1107cc"></i></a>
              </div>
            </div>

            <div id="banner_language">
              <i class="fa fa-language" style="font-size:50px;font-weight:bolder" aria-hidden="true"></i>
              <a class="nav-link dropdown-toggle" href="#" id="language_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择语言
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">中文</a>
                <a class="dropdown-item" href="/us">英文</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">派克主页</a>
                <a class="nav-item nav-link" href="/service">派克服务</a>
                <a class="nav-item nav-link" href="/tour">派克游学</a>
                <a class="nav-item nav-link" href="/bootcamp">派克培训</a>
                <a id="sos" class="nav-item nav-link" href="/service/i20">紧急应对<i class="material-icons" style="font-size:24px">add_alert</i></a>
                <a class="nav-item nav-link" href="/aboutus">关于派克</a>
                <a class="nav-item nav-link" href="/contact">联系派克</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <img src="" alt="LA_Film_Banner">
        </div>
        <div class="intro">
          <h2>洛杉矶电影学院简介:</h2>
          <p>洛杉矶电影学院(简称 LA Film School)是一所私立的电影专业学院，学校由国家艺术基金组织建立。学 校最早建立于一九九九年，迄今为止已经有二十多年的历史了。学校提供传媒科学与工程、艺术硕士课程 (包括编辑、制片等)等课程。洛杉矶电影学院学校的地理位置优越，
            风景优美，交通便利，是学习和生活 的好地方。学校的师资力量雄厚，教师都是来自相关行业的精英人物，具有丰富的经验和深厚的专业知识。 学校配有良好的现代化设施，以便学生能够获得最好的教育和培训。洛杉矶电影学院为学生提供奖学金和财 政援助，帮助学生减轻在就学期间的经济压力，
            符合条件的学生可以申请奖学金和经济援助，学校招收来自 世界各地不同种族和不同文化背景的学生，来推动全世界电影事业的发展。
          </p>
          <p>洛杉矶电影学院致力于培养制片人才，以培养故事叙述者为目的，希望招收有故事可讲并有志进行电影制作 的人。电影对文化和社会有深刻的影响，不仅培养电影摄影师，导演，编辑，产品设计师，剧作家，学院也 提供每个艺术院校都有的课程——讲故事的艺术。洛杉矶电影院核心精神是耐心、
            专注力、勤奋、必要的 交流，以学生电影作品为课程基础。洛杉矶电影学院的毕业生可以达到专业，具有高度的鉴赏力和理解力。
          </p>
        </div>
        <div class="animation">
          <h3>Animation 动画专业</h3>
          <p>动画专业培养具有坚实的专业理论基础，具备较高的艺术修养和审美能力，熟练掌握动画设计与新媒
             术与虚拟现实、动漫周边产品设计、互动多媒体设计、动画市场营销与管理等方面工作的应用复合型 专门人才。
           </p>
           <div class="row">
             <div class="col-md-6">
               <img src="" alt="animation_1">
             </div>
             <div class="col-md-6">
               <h4>主要课程</h4>
               <p>影视剧作、影视声音、动画技法、影视动画创作、多媒体技术及应用、动画设计，动画导演等。</p>
               <p>主要实践性教学环节:包括素描、速写、人物设计、场景设计，卡漫设计与创作，动画色彩、动画配音、动画短片拍摄、毕业作业等。</p>
             </div>
           </div>
           <div class="row">
             <div class="col-md-6">
               <h4>三维动画</h4>
               <p>三维动画又称 3D 动画，随着计算机软硬件技术的发展而产 生的一新兴技术。三维动画软件在计算机中首先建立一个虚 拟的世界，设计师在这个虚拟的三维世界中按照要表现的对 象的形状尺寸建立模型以及场景，再根据要求设定模型的运 动轨迹、虚拟摄影机的运动和其它动画参数，
                 最后按要求为 模型赋上特定的材质，并打上灯光。当这一切完成后就可以让计算机自动运算，生成最后的画面。
               </p>
             </div>
             <div class="col-md-6">
               <img src="" alt="animation_2">
             </div>
           </div>
        </div>
        <div class="film">
          <h2>Film 电影专业</h2>
          <p>电影学专业是戏剧与影视学下设的一个二级学科，一般认为电影 学是艺术学的一个分支，其范畴包括电影发展过程、电影审美特 性、电影创作规律、电影作品分类及其社会作用与美学效应等。 电影学在国际上作为一门独立学科出现于 20 世纪 40 年代后 期，随着电影艺术日益成熟而逐渐兴起。
            在其发展过程中既与社 会学、历史学、心理学等产生联系，又与美学以及艺术学其他分 支相互影响。50~60 年代以来，随着跨学科研究的日渐开拓， 电影研究与其他学科研究的相互结合更趋密切，出现了一些新的 分科，如电影美学、电影哲学、电影诗学、电影心理学、电影社 会学和电影符号学等。
          </p>
          <div class="row">
            <img src="" alt="film_1">
          </div>
          <h5>核心能力</h5>
          <ul>
            <li>掌握广播电视艺术学科的基本理论、基本 知识 </li>
            <li>具有敏锐的观察生活和捕捉社会发 展走向的能力，以及用广播电视手段表达思 想感情的能力</li>
            <li>熟悉党和国家新闻及文艺 宣传的方针政策和法规</li>
            <li>了解广播电视的 理论前沿的技术发展的动态</li>
            <li>掌握文献检 索、资料查询的基本方法，具有一定的科学 研究和实际工作能力</li>
            <li>具备较高的艺术修 养和艺术创造能力</li>
          </ul>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
