<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 培训</title>
  </head>
  <body>
    <header>
      <h1>Header</h1>
    </header>
    <main>
      <h1>Bootcamp makeup</h1>
      <div class="">
        Make-Up Designory
        Los Angeles School of Make-Up
        洛杉矶化妆设计学院
        学校概况
        化妆设计学院Make-up Designory (Burbank)是一所私立专科学校，每年学校都为许多来自全世界各地的想在时尚界，电影界和电视界工作的学生提供培训。学校还有自己的化妆品线，在美国，英国，西班牙，澳大利亚和墨西哥都有零售商和分销商。
        化妆学校致力于为新手和有经验的专家提供化妆艺术培训。
        学校的所有课程都由经验丰富的经过国家认证的美容艺术师讲授。
        该学校的课程为学生提供必要的学术形式需要的同时，可以通过实践来最大限度的巩固了学习效果。

        所在城市：加利福尼亚州-伯班克
        学校地址：International Students Office Make Up Designory School 129 South San Fernando Blvd Burbank, CA 91502
        创建年份：1997年
        是否为教育部认证：是
        学校性质：私立
        学生人数：333人


        学校网址：http://www.mud.edu/about_mud.html


      </div>

    </main>
    <footer style="background-color:grey;height:250px">

    </footer>
  </body>
</html>
