<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 培训</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'eng/css/master/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'cn/css/bootcamp/ucberkeley.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/master/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <header>
      <div id="top_banner" class="row">
        <div class="col-md-6">
          <img id="logo_image" src="./../static/eng/images/logo.png" alt="logo" class="img-thumbnail" width="160" height="250">
          <h3 id="logo_text">派克 <br>教育</h3>
        </div>

        <div id="banner_info" class="col-md-6">
          <div id="banner_right">
            <div id="banner_contact" style="display:inline-block">
              <h5><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;邮箱: <span class="number_email">pike@mrpikeedu.com</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;美国电话: <span class="number_email">1-626-632-6056</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;中国电话: <span class="number_email">95040498706</span></h5>
              <div id="social_icon">
                <a class="social_icon" href="https://www.facebook.com/PikeInternational/"><i class="fa fa-facebook-official" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-twitter-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-google-plus" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-instagram" style="font-size:36px;color:#1107cc"></i></a>
              </div>
            </div>

            <div id="banner_language">
              <i class="fa fa-language" style="font-size:50px;font-weight:bolder" aria-hidden="true"></i>
              <a class="nav-link dropdown-toggle" href="#" id="language_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择语言
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">中文</a>
                <a class="dropdown-item" href="/us">英文</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">派克主页</a>
                <a class="nav-item nav-link" href="/service">派克服务</a>
                <a class="nav-item nav-link" href="/tour">派克游学</a>
                <a class="nav-item nav-link" href="/bootcamp">派克培训</a>
                <a id="sos" class="nav-item nav-link" href="/service/i20">紧急应对<i class="material-icons" style="font-size:24px">add_alert</i></a>
                <a class="nav-item nav-link" href="/aboutus">关于派克</a>
                <a class="nav-item nav-link" href="/contact">联系派克</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <img id="berkeley_banner" src="" alt="UCBerkeley_Banner">
        </div>
        <div class="slogan">
          <h2>领导与执行决策</h2>
          <h2>课程安排样本</h2>
          <h2>加州大学伯克利分校&派克国际教育</h2>
        </div>
        <div class="calendar">
          <table>
            <tr>
              <th></th>
              <th>第一天</th>
              <th>第二天</th>
              <th>第三天</th>
            </tr>
            <tr class="head">
              <td>课程主题</td>
              <td>看穿不真实的信息</td>
              <td>避免禁锢在单一思维的陷阱</td>
              <td>把信息转成有效信息</td>
            </tr>
            <tr class="head">
              <td class="time">8:30-9:00AM</td>
              <td>早餐</td>
              <td>早餐</td>
              <td>早餐</td>
            </tr>
            <tr class="content">
              <td class="time">9:00-10:45AM</td>
              <td>欢迎和介绍会管理团队决策</td>
              <td>在做判断和决策时偏见的产生</td>
              <td>伟大的领导者做的正确决定案例分析</td>
            </tr>
            <tr class="head">
              <td class="time">10:45-11:00AM</td>
              <td>休息</td>
              <td>休息</td>
              <td>休息</td>
            </tr>
            <tr class="content">
              <td class="time">11:00-12:30PM</td>
              <td>团队决策介绍&讨论</td>
              <td>认知捷径和决策制定的问题</td>
              <td>结构化策略思考的重要性决策问题</td>
            </tr>
            <tr class="head">
              <td class="time">12:30-1:30PM</td>
              <td>午餐</td>
              <td>午餐</td>
              <td>午餐</td>
            </tr>
            <tr class="content">
              <td class="time">1:30-3:15PM</td>
              <td>数据收集问题  关于图形问题的解析和报告</td>
              <td>可持续发展战略简介  批判性思维</td>
              <td>重新体验问题管理团队及决策</td>
            </tr>
            <tr class="head">
              <td class="time">3:15-3:30PM</td>
              <td>休息</td>
              <td>休息</td>
              <td>休息</td>
            </tr>
            <tr class="content">
              <td class="time">3:30-5:00PM</td>
              <td>七个步骤来改善批判的思维<br>反思关键的外包和计划<br>课程精髓及中心思想</td>
              <td>可持续发展<br> 战略与批判思维</td>
              <td>重新体验问题<br>团队决策介绍<br>课程精髓及中心思想</td>
            </tr>
            <tr>
              <td></td>
              <td>评估与总结</td>
              <td>评估与总结</td>
              <td>评估与总结</td>
            </tr>
          </table>
          <p>*时间表可能会根据实际情况进行调整</p>
          <div class="cost">
            <h5>培训费用</h5>
            <h5>参训人数<b>18-30</b>人, <b>$5,900</b>/人</h5>
          </div>
        </div>
        <div class="main_content">
          <img id="main_content_banner" src="" alt="UC_BERKELEY_Banner">
          <div class="headline">
            <h2>执行决策</h2>
            <h2>将信息转化为有效决定</h2>
          </div>
          <div class="row">
            <div class="col-md-5">
              <img src="" alt="Business_Success">
            </div>
            <div class="col-md-7">
              <p>我们为渴望重新定义未来业务的领导者和组织提供服务。加州大学伯克利分校（UC Berkeley)教授领导的深厚而独特的学习经验为全球高管及其组织带来了远景，文化和能力．让参与者在不断变化的世界中茁壮成长。</p>
              <p>加州大学伯克利分校行政教育利用世界第一大公立大学和周边商业生态系统的最佳资源，并拥抱伯克利的使命．解决发展问题现状的领导者，展示非凡的信心．始终保持学习心态，并始终渴望超越自我。</p>
            </div>
          </div>
          <div class="instructor">
            <h4>丹尼尔・莱维丁</h4>
            <p> <img src="" alt="Daniel J. Levitin" align=left> 教授Daniel J. Levitin FRSC，是世界闻名的认知神经科学家博士，FRSC．企业家和畅销书作者。他是哈斯商学院，加州大学伯克利分校杰出的教师研究员。</p>
          </div>
        </div>
        <div class="UCBerkeley">
          <div class="headerline">
            <h2>加利福尼亚大学伯克利分校</h2>
          </div>
          <div class="description">
            <p>加利福尼亚大学伯克利分校（University of California, Berkeley,缩写UC Berkeley或UCB，是一所男女合校的公立大学，位于旧金山东湾柏克莱市的山丘上。
              加大柏克利是加利福尼亚大学中最老的一所，它也是美国大学协会（Association of American Universities）的创始者之一。
            </p>
            <p>伯克利的教职工（包括研究、教学和公共服务人员）总数近1.1万，其中有1,640名全日制教员，45。名兼职教员，他们中有不少是世界最著名的小说家、诗人、思想家及科学家．包括9名诺贝尔奖获得者，98名美国科学院院士（仅次于哈佛大学）,
              60名美国工程学院院士（仅次于麻省理工学院），还拥有比美国任何一所大学都多的古根海姆会员和美国科学基金颁发的“青年研究学者总统奖”获得者。在伯克利的教员中，还有14位曾获得美国国家科学奖章，6位曾获普利策奖，139位美国文理科学会会员，
              15位麦克阿瑟研究员。23位教授荣获过美国国家科学奖。
            </p>
            <p>伯克利分校共有14个学院：化学院、工程学院、环境设计学院、文理学院、自然资源学院、沃尔特・哈斯商学院、教育学研究生院、新闻学研究生院、法学院、图书馆和信息研究学院、验光配镜学院、公共卫生学院、公共政策研究生院、社会福利学院等，
              下属100多个系和系内研究组。除系外，校园内还有40多个组织研究员（ORUS)配合进行研究和教学。另外，伯克利还设有许多重要的研究机构，
              其中有美国能源开发署的3个闻名世界的大型研究中心：劳诺斯伯克利实验室、劳诺斯弗莫尔国家实验室和罗斯・阿拉莫斯国家科学实验室。
            </p>
            <p>如果说美国形成史是一部由西向东不断开发的历史，那么，伯克利加州大学（简称伯克利加大）就是美国‘．西部大开发”中的‘’智力开发”基地。这所公立大学与私立的斯坦福大学、加州理工学院共同支撑起与美国东部常春藤大学相比肩的西部学术脊梁。
              与紧随其后的密歇根大学、伊利诺伊大学香槟分校是所谓的公立大学“三巨头”。
            </p>
            <p>地处旧金山湾畔，硅谷地带的伯克利加州大学是美国最激进的学校之一。60年代的嬉皮文化，反越战，东方神秘主义．回归自然文化都起源于此。在当今高科技领域伯克利加州大学在缔造新的神话，在文学，数学．化学，新闻等20多个大的学科领域中位居前5名。
              众多的诺贝尔奖得主、美国国家科学奖章得主、科学院院士、工程院院士，连同在硅谷商战中成为亿万富翁的伯克利人，撑起了一面汇集天下之英才的大旗。
            </p>
          </div>
        </div>
        <div class="goal">
          <h3>办学宗旨</h3>
          <div class="goals">
            <h3>一、是目光远大</h3>
            <p>在建校之初，校方在伯克利的发展目标上就达成了共识一采取兼收并蓄、自由开放的方针．容天下贤士于一堂．从而把大学建成为世界一流大学。沿着这一思路，伯克利开创不久便在文理农工等学科上，瞄准当时的世界先进水平紧紧追赶．大力发展。
              一份辛劳一份收获。伯克利在19世纪80年代初以其初具规模的学科设置和崭新的综合性大学形象屹立于美国高等学府之林。
            </p>
          </div>
          <div class="goals">
            <h3>二、是重视人才</h3>
            <p>在加速发展各学科的同时，伯克利还竭尽全力延揽各路人才。通过高薪聘请的手段．辅之以优良的工作环境与自由开放的学术气氛，再加上加州西海岸得天独厚的自然环境，伯克利从美国东北部的学术重镇罗致了大批名牌教授和著名学者，
              使得伯克利的师资队伍在较短时间里得到了极大的加强和发展。据有关资料统计，在其千余名现任教授中．有7名诺贝尔奖获得者、3名普利策奖得主。
            </p>
          </div>
        </div>
        <div class="achievement">
          <p>在加速发展各学科的同时，伯克利还竭尽全力延揽各路人才。通过高薪聘请的手段．辅之以优良的工作环境与自由开放的学术气氛，再加上加州西海岸得天独厚的自然环境，伯克利从美国东北部的学术重镇罗致了大批名牌教授和著名学者，
            使得伯克利的师资队伍在较短时间里得到了极大的加强和发展。据有关资料统计，在其千余名现任教授中．有7名诺贝尔奖获得者、3名普利策奖得主。
          </p>
          <p>伯克利加大以多元文化著称。199。年2月15日，加州大学董事会任命华裔教授田长霖为伯克利加州大学校长一这是全美著名公立大学的第一位华裔校长。他治校的第一个方向就是“致力维持伯克利加大在师资和学术上的杰出地位”，
            坚持“多元而卓越”的治校理念。在其任内，伯克利加大吸引了全国最有才华也最多样的学生。同时’．伯克利加大想要的顶尖人才，80％都争取到了。
          </p>
          <p>伯克利加大本科生与研究生教育并重。长期以来，该校的研究生院在全美高校中保持最大规模，其研究生与博士后人数占全校学生总数的1/3。作为合格的高层次专家学者．他们源源不断地奔向美国社会的各个工作岗位，为美国经济和社会发展作贡献。</p>
        </div>
      </div>
    </main>
    <footer style="height:300px; background-color:grey">

    </footer>
  </body>
</html>
