<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 关于我们</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'eng/css/master/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'eng/css/aboutus/aboutus.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'eng/javascript/master/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'eng/javascript/aboutus/aboutus.js' %}"></script>
  </head>

  <body>
    <header>
      <div id="top_banner" class="row">
        <div class="col-md-6">
          <img id="logo_image" src="./../static/eng/images/logo.png" alt="logo" class="img-thumbnail" width="160" height="250">
          <h3 id="logo_text">派克 <br>教育</h3>
        </div>

        <div id="banner_info" class="col-md-6">
          <div id="banner_right">
            <div id="banner_contact" style="display:inline-block">
              <h5><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;邮箱: <span class="number_email">pike@mrpikeedu.com</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;美国电话: <span class="number_email">1-626-632-6056</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;中国电话: <span class="number_email">95040498706</span></h5>
              <div id="social_icon">
                <a class="social_icon" href="https://www.facebook.com/PikeInternational/"><i class="fa fa-facebook-official" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-twitter-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-google-plus" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-instagram" style="font-size:36px;color:#1107cc"></i></a>
              </div>
            </div>

            <div id="banner_language">
              <i class="fa fa-language" style="font-size:50px;font-weight:bolder" aria-hidden="true"></i>
              <a class="nav-link dropdown-toggle" href="#" id="language_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择语言
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">中文</a>
                <a class="dropdown-item" href="/us">英文</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">派克主页</a>
                <a class="nav-item nav-link" href="/service">派克服务</a>
                <a class="nav-item nav-link" href="/tour">派克游学</a>
                <a class="nav-item nav-link" href="/bootcamp">派克培训</a>
                <a class="nav-item nav-link active" href="/aboutus">关于派克<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/contact">联系派克</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div id="parallax-world-of-ugg">
        <section>
          <div class="title">
            <h3>关于</h3>
            <h1>派克教育</h1>
          </div>
        </section>
        <section>
            <div class="parallax-one">
              <h2>派克是谁</h2>
            </div>
        </section>
        <section>
          <div class="block">
            <p><span class="first-character sc">派</span>克 - 得克化影提家京美，价非口那厂线几，马L办中雨化。 还信备式局想去质没明但，度些统证励加何积。 器律路东史地片为必，变军而料美高她办，无思届原化劳适。</p>
            <p class="line-break margin-top-10 margin-bot-10"></p>
            <p class="margin-top-10">知构并空期又特音具价般主，至效命外两更也格原。 常将要关系去流报世或造，界度型油切斗论认或，二她询金情矿杏结枝。</p>
          </div>
        </section>

        <section>
          <div class="parallax-two">
            <h2>派克的使命</h2>
          </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character ny">派</span>克 - 得克化影提家京美，价非口那厂线几，马L办中雨化。 还信备式局想去质没明但，度些统证励加何积。 器律路东史地片为必，变军而料美高她办，无思届原化劳适。</p>
            <p class="line-break margin-top-10 margin-bot-10"></p>
            <p class="margin-top-10">得克化影提家京美，价非口那厂线几，马L办中雨化。 还信备式局想去质没明但，度些统证励加何积。 器律路东史地片为必，变军而料美高她办，无思届原化劳适。</p>
          </div>
        </section>

        <section>
          <div class="parallax-three">
            <h2>为什么选择派克</h2>
          </div>
        </section>

        <section>
          <div class="block">
            <p><span class="first-character atw">派</span>克 - 得克化影提家京美，价非口那厂线几，马L办中雨化。 还信备式局想去质没明但，度些统证励加何积。 器律路东史地片为必，变军而料美高她办，无思届原化劳适。</p>
            <p class="line-break margin-top-10 margin-bot-10"></p>
            <br>
            <div class="row">
              <div class="col-md-4 why_us_div">
                <img class="why_us_image" src="./../static/eng/images/aboutus/AIRC.jpg" alt="AIRC">
                <p class="why_us_detail">知构并空期又特音具价般主，至效命外两更也格原。 常将要关系去流报世或造，界度型油切斗论认或，二她询金情矿杏结枝。</p>
              </div>
              <div class="col-md-4 why_us_div">
                <img class="why_us_image" src="./../static/eng/images/aboutus/IEP.jpg" alt="IEP">
                <p class="why_us_detail">知构并空期又特音具价般主，至效命外两更也格原。 常将要关系去流报世或造，界度型油切斗论认或，二她询金情矿杏结枝。</p>
              </div>
              <div class="col-md-4 why_us_div">
                <img class="why_us_image" src="./../static/eng/images/aboutus/NAFSA.jpg" alt="NAFSA">
                <p class="why_us_detail">知构并空期又特音具价般主，至效命外两更也格原。 常将要关系去流报世或造，界度型油切斗论认或，二她询金情矿杏结枝。</p>
              </div>
            </div>
          </div>
        </section>

        </div>
    </main>
  </body>
