*{
  border: 1px solid pink
}

.navbar-nav{
  width:100%;
}

.nav-item{
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: auto;
}

.the_top{
  text-align: center;
  padding: 5%;
}

.advantage{
  text-align: center;
  margin: 2% 0 2% 0;
}

.calendar{
  width: 80%;
  margin:auto;
  margin-bottom: 3%;
  margin-top: 3%
}

.weekend_event h4{
  text-align: center;
}

.weekend_event p{
  text-align: justify;
}

.weekend_event{
  margin-top: 3%;
  background-color: pink;
  padding: 3%
}
