*{
  border: 1px solid lightpink;
}

.navbar-nav{
  width:100%;
}

.nav-item{
  display: inline-block;
  text-align: center;
  width: 15%;
  margin: auto;
}

.tour_head{
  /*position: relative;*/
  width: 100%;
}

#image_text{
  text-align: center;
  position: relative;
  /*top: -100px;*/
  width: 100%;
  /*color:white;*/
  padding: 20px;
  z-index: 1;
}

.col-md-5{
  text-align: center;
}

#theimage{
  width: 90%;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
  height: 400px;
}

.info{
  width:85%;
  font-size: 16px;
  text-align: justify;
  color: red;
  margin: auto;
  margin-top: 10%;
}

.post1{
    position: relative;
    left: -700px;
    background: black;
    margin: 25px 0;
    opacity: 0;
    transition: all 2s ease;
}

.post1.shift1 {
  opacity: 1;
  left: 0;
  transition: all 2s ease;
}

.post2{
    position: relative;
    right: -700px;
    background: black;
    margin: 25px 0;
    opacity: 0;
    transition: all 2s ease;
}

.post2.shift2{
    opacity: 1;
    right: 0;
    transition: all 2s ease;
}

.post3 {
    position: relative;
    left: -700px;
    background: black;
    margin: 25px 0;
    opacity: 0;
    transition: all 3s ease;
}

.post3.shift3{
    opacity: 1;
    left: 0;
    transition: all 3s ease;
}

.post4 {
    position: relative;
    right: -700px;
    background: black;
    margin: 25px 0;
    opacity: 0;
    transition: all 4s ease;
}

.post4.shift4{
    opacity: 1;
    right: 0;
    transition: all 4s ease;
}
/*
#esl{
  width: 85%;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
  height: 600px;
}*/
