#top_banner{
  /*background: #0DB5A8;
  background: -webkit-linear-gradient(left top, #0DB5A8, #0DB1E5);
  background: -o-linear-gradient(bottom right,#0DB5A8, #0DB1E5);
  background: -moz-linear-gradient(bottom right, #0DB5A8, #0DB1E5);
  background: linear-gradient(to bottom right, #0DB5A8, #0DB1E5);*/

  background: url(../images/1_banner.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  /*background-attachment: fixed;*/
  background-size:  cover;
  background-color: rgba(31, 52, 238, 0.48);
}

#logo_image{
  display: inline-block;
  margin: 20px;
  box-shadow: black 5px 5px 15px;
}


#logo_text{
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  line-height: 40px;
  vertical-align: middle;
  font-family: sans-serif;
  font-weight: bolder;
}

#banner_info{
      padding: 2%;
}


.number_email{
  color: lightblue;
  font-style: italic;
  text-decoration: underline;
}

.social_icon{
  margin-right: 15px;
}

#banner_language{
  display: inline-block;
  margin-left: 40px;
  text-align: center;
}

/*#banner_language :hover{
  border-bottom: 5px solid lime;
}*/

#language_link{
  color: lime;
  font-size: 15px;
}


#top_navbar{
  height: 100px;
  font-size: 30px;
  width: 100%;
}

.nav-item :hover{
  border-bottom: 3px solid lightblue;
}

#nav_logo{
  color: #0fb8af;
  text-align: center;
  font-style: italic;
  font-family: inherit;
  font-size: 25px;
}


#testing{
  color:green
}

.testing{
  color: orange;
}

/* try out */

/* Thanks to dmac37 for this hex technique */
/*@import url(https://fonts.googleapis.com/css?family=Lato:300);*/
/* Variables */
/*h1 {
  /*font-family: 'Lato', sans-serif;*/
  /*font-size: 4em;
  font-weight: 300;
  text-align: center;
  margin: 100px 10px 0 10px;
}*/

/*body {
  background: #fff;
}*/

section {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

.hex_row_even {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.hex_row_odd {
  display: inline-block;
  margin: 0 auto -275px auto;
  overflow: hidden;
}

.center {
  float: left;
  margin: 20px 10px;
  width: 220px;
}

.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  height: 440px;
  overflow: hidden;
  visibility: hidden;
  width: 220px;
}

.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
}

.desc {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  height: 440px;
  line-height: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: visible;
  width: 220px;
}
.desc.base {
  background: rgba(230, 0, 98, 0.75);
}
.desc.one {
  background: rgba(252, 171, 55, 0.75);
}
.desc.two {
  background: rgba(169, 160, 50, 0.75);
}
.desc.three {
  background: rgba(83, 70, 54, 0.75);
}
.desc h2 {
  margin: 165px 20px 0 20px;
}
.desc p {
  font-size: .5em;
  text-transform: lowercase;
}
