<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>派克 | 游学</title>

    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'eng/css/master/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'cn/css/tour/twoweeks.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/master/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cn/javascript/tour/twoweeks.js' %}"></script>
  </head>
  <body>
    <header>
      <div id="top_banner" class="row">
        <div class="col-md-6">
          <img id="logo_image" src="./../static/eng/images/logo.png" alt="logo" class="img-thumbnail" width="160" height="250">
          <h3 id="logo_text">派克 <br>教育</h3>
        </div>

        <div id="banner_info" class="col-md-6">
          <div id="banner_right">
            <div id="banner_contact" style="display:inline-block">
              <h5><i class="fa fa-envelope" style="font-size:36px"></i>&nbsp;邮箱: <span class="number_email">pike@mrpikeedu.com</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;美国电话: <span class="number_email">1-626-632-6056</span></h5>
              <h5><i class="fa fa-phone" style="font-size:36px"></i>&nbsp;中国电话: <span class="number_email">95040498706</span></h5>
              <div id="social_icon">
                <a class="social_icon" href="https://www.facebook.com/PikeInternational/"><i class="fa fa-facebook-official" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-twitter-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-google-plus" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-linkedin-square" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-youtube-play" style="font-size:36px;color:#1107cc"></i></a>
                <a class="social_icon" href="#"><i class="fa fa-instagram" style="font-size:36px;color:#1107cc"></i></a>
              </div>
            </div>

            <div id="banner_language">
              <i class="fa fa-language" style="font-size:50px;font-weight:bolder" aria-hidden="true"></i>
              <a class="nav-link dropdown-toggle" href="#" id="language_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                选择语言
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/">中文</a>
                <a class="dropdown-item" href="/us">英文</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">派克主页</a>
                <a class="nav-item nav-link" href="/service">派克服务</a>
                <a class="nav-item nav-link" href="/tour">派克游学</a>
                <a class="nav-item nav-link" href="/bootcamp">派克培训</a>
                <a id="sos" class="nav-item nav-link" href="/service/i20">紧急应对<i class="material-icons" style="font-size:24px">add_alert</i></a>
                <a class="nav-item nav-link" href="/aboutus">关于派克</a>
                <a class="nav-item nav-link" href="/contact">联系派克</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <h2 id="the_title">洛杉矶加州州立大学洛杉矶分校+ESL语言课程+两周浸泡式英文游学体验营项目介绍（春节）</h2>

        <div class="day">
          <h2 class="title">第1天 中国-洛杉矶</h2>
          <h4>行程描述</h4>
          <p>乘机飞往天使之城洛杉矶，入住加州州立大学学生宿舍。</p>
          <h5><b>住宿 - </b>加州州立大学学生宿舍</h5>
        </div>

        <div class="day">
          <h2 class="title">第2天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p> <img src="" alt="Study" aligh=left> 上午：上午学习ESL语言课程，ESL是全美语言学校最通用的世界级权威英语培训课程。学生通过该课程的学习可以有效提高自身整体的英语能力，能够与以英语为母语的人士零障碍沟通。ESL课程教材专门为母语非英语的学生而设，具有很强的实用性。
            “让英语成为你的第二语言”，是ESL课程终极的教学目标！ESL课程是专门针对国际学生和移民学生而开设的，在课堂上学生不仅能提高英语，还能了解到许多美国文化。ESL课程非常注重实用性，取材也常常与社会生活密切相关，所以ESL课程能够让学生了解更多的美国文化。
            ESL课程会鼓励学生更多地参与到课堂学习中来，采用角色扮演、小组讨论、自由提问、演讲等多种形式，因此学生需要更为积极主动，克服胆怯心理，多发言，敢于在他人面前表现自己，多多与老师和同学进行互动沟通。
            而这正是典型的美式教育特点，因此ESL课程能够有效帮助学生适应新的教学方式，深入了解美国素质教育精髓。</p>
          <p>下午：校园参观, 丰富多彩的校园活动（美国游戏，篮球等） 和美国学生互动,分享成长经历。</p>
        </div>

        <div class="day">
          <h2 class="title">第3天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：上午学习ESL语言课程，ESL是全美语言学校最通用的世界级权威英语培训课程。学生通过该课程的学习可以有效提高自身整体的英语能力，能够与以英语为母语的人士零障碍沟通。ESL课程教材专门为母语非英语的学生而设，具有很强的实用性。
            “让英语成为你的第二语言”，是ESL课程终极的教学目标！ESL课程是专门针对国际学生和移民学生而开设的，在课堂上学生不仅能提高英语，还能了解到许多美国文化。ESL课程会鼓励学生更多地参与到课堂学习中来，采用角色扮演、小组讨论、自由提问、演讲等多种形式，
            因此学生需要更为积极主动，克服胆怯心理，多发言，敢于在他人面前表现自己，多多与老师和同学进行互动沟通。而这正是典型的美式教育特点，因此ESL课程能够有效帮助学生适应新的教学方式，深入了解美国素质教育精髓。</p>
          <p> <img src="" alt="Griffith Observatory" align=left> 下午：游览Griffith公园和天文台。天文台坐落于好莱坞的山顶上，视野相当宽阔，夜间时分可以眺望全洛杉矶五光十色的街景及万家灯火的辉煌。天文台科学展示厅内展有许多天文物理的知识及图片，
            天文台顶上还有一座加州最大的12寸巨型天文望远镜供民众和游客探索群星的奥秘。 格利菲斯公园内种植了许多橡树和野生鼠尾草，公园大部分的地方仍维持早期印第安人居住的景观。园内有多项观光景点，包括动物园、高尔夫球场、博物馆、天文瞭望台，登山骑马步道及火车游览等。</p>
        </div>

        <div class="day">
          <h2 class="title">第4天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：与来自不同国家的小伙伴一起学习ESL英语课程，该课程是针对母语为非英语的学生(如中国，法国，日本，巴西等)，所以教学方法会综合考虑学习者的母语和文化背景。学生可以从听说读写各个方面全面提高英语水平，
            并适应美国的教学方式及目的——学习英语是为了交流，只有不断实践，才可能熟练掌握，还有机会在国际化的课堂环境中一同协作完成随堂任务。 </p>
          <p>下午：Santa Monica 海滩, 观看街头艺人表演, 亲身体验美国多元的美国艺术文化.</p>
          <p> <img src="" alt="SANTA_MONICA_1" align=left> “圣塔莫尼卡海滩”是洛杉矶地区最有名最吸引游人的海滩之一，交通便利，在十号公路的尽头。海滩长5公里。每到夏天，这里经常人满为患。值得关注的是在这里有一个突堤码头，这个码头最早是建于 1908年，可以说是“圣塔莫尼卡”的象征，
            码头高高地架设在海面之上，不远处还有一个太平洋游乐园， 有很多美国的电影电视剧都曾在这里进行过拍摄。 </p>
          <p> <img src="" alt="SANTA_MONICA_2" align=right> 在这个沙滩上还有一些曝光率非常高的建筑。圣塔莫尼卡海滩上最显眼的建筑是最早建于1908年的凸出海滩线的突堤码头。这个码头可以说是圣塔莫尼卡的象征，有很多美国的电影电视剧都曾在这里进行过拍摄。
            码头高高地架设在海面之上，不远处还有一个充满大人和儿童欢笑声的太平洋游乐园，里面有摩天轮，云霄飞车，旋转木马等。</p>
          <p>码头上除了有游乐场，还有一些餐厅。人们还可以在海滩上进行各种运动，比如沙滩排球、溜直排轮鞋等。 坐在码头的长椅上，欣赏那令人陶醉的一望无际的蓝色大海和成群飞翔的海鸥，落日余晖，这是多么美妙的瞬间! </p>
        </div>

        <div class="day">
          <h2 class="title">第5天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：与来自不同国家的小伙伴一起学习ESL英语课程，该课程是针对母语为非英语的学生(如中国，法国，日本，巴西等)，所以教学方法会综合考虑学习者的母语和文化背景。学生可以从听说读写各个方面全面提高英语水平，
            并适应美国的教学方式及目的——学习英语是为了交流，只有不断实践，才可能熟练掌握，还有机会在国际化的课堂环境中一同协作完成随堂任务。 </p>
          <p>下午：Natural History Museum of Los Angeles County 洛杉矶自然历史博物馆</p>
          <div class="row">
            <div class="col-md-6">
              <img src="" alt="Natural Museum">
            </div>
            <div class="col-md-6">
              <p>洛杉矶自然历史博物馆（Natural History Museum of Los Angeles County）是美国西部最大的自然历史博物馆，位于洛杉矶，馆藏包括3500万份标本和手工艺品。该博物馆1913年成立时称为历史、科学和艺术博物馆（Museum of History, Science, and Art），
                1961年分成现在的洛杉矶自然科学博物馆和洛杉矶艺术博物馆，1965年后者搬到维尔雪大道，原址由自然科学博物馆使用，后来自然科学博物馆改名为现在的洛杉矶自然历史博物馆。1975年成为美国国家史迹。这里拥有世界上最丰富而宝贵的自然和文化历史收藏，精美的宝石和矿物，
                大型栖息地立体模型，古老的拉丁美洲考古宝藏以及幕后故事。</p>
            </div>
          </div>
        </div>

        <div class="day">
          <h2 class="title">第6天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：上午学习ESL语言课程，ESL是全美语言学校最通用的世界级权威英语培训课程。学生通过该课程的学习可以有效提高自身整体的英语能力，能够与以英语为母语的人士零障碍沟通。ESL课程教材专门为母语非英语的学生而设，具有很强的实用性。“让英语成为你的第二语言”，
            是ESL课程终极的教学目标！ESL课程是专门针对国际学生和移民学生而开设的，在课堂上学生不仅能提高英语，还能了解到许多美国文化。ESL课程非常注重实用性，取材也常常与社会生活密切相关，所以ESL课程能够让学生了解更多的美国文化。ESL课程会鼓励学生更多地参与到课堂学习中来，
            采用角色扮演、小组讨论、自由提问、演讲等多种形式，因此学生需要更为积极主动，克服胆怯心理，多发言，敢于在他人面前表现自己，多多与老师和同学进行互动沟通。而这正是典型的美式教育特点，因此ESL课程能够有效帮助学生适应新的教学方式，深入了解美国素质教育精髓。</p>
          <p>下午: 参观游览加州大学洛杉矶分校</p>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <img src="" alt="UCLA">
            </div>
            <div class="col-md-2"></div>
          </div>
          <p>加州大学洛杉矶分校，是一所位于美国加利福尼亚州洛杉矶的公立研究型大学，创办于1919年，是加利福尼亚大学系统中的第二所大学，目前拥有约29,000名本科生与12,000名研究生，提供包括学士、硕士与博士在内337种不同的学位课程。UCLA是美国享誉盛名的高等学府，
            在各种大学排名中均有骄人成绩。洛杉矶加州大学先后共有14名校友获得诺贝尔奖。</p>
          <p>加州大学的几所分校素以学术自由和学生自治著称。海阔凭鱼跃，天高任鸟飞。在这里，没有来自保守传统的约束，没有不可逾越的清规戒律，在这片自由的土地上你可以天马行空，放开思维畅想，自由探索未知世界，在这里你的思想永远会得到尊重，即使别人并不同意你的观点。
              正是这种缘自西部开发的自由思想在加州大学的分校中孕育了无数的新思想和伟大的发现。这里也成为了无数中国孩子向往接受高等教育的地方。</p>
        </div>

        <div class="day">
          <h2 class="title">第7天  洛杉矶</h2>
          <h4>行程描述</h4>
          <div class="row">
            <img src="" alt="Universal_Studio_1">
          </div>
          <p>体验最刺激的电影主题乐园  环球影城一日游</p>
          <p>好莱坞环球影城位于洛杉矶市区西北郊，是游客到洛杉矶的必游之地。好莱坞是世界著名的影城，20世纪初，一些制片商开始在这里拍片，到1928年已形成了以派拉蒙等八大影片公司为首的强大阵容。</p>
          <p> <img src="" alt="Universal_Studio_2" align=left> 题公园以世界顶级的过山车为特色，景点则有著名的影城之旅和惊险的金刚360度3D历险。加入影城之旅，您能一探电影的幕后拍摄，并体验全新的“速度与激情——超动力”；金刚360度3D历险则为您带来世界上最壮观、最惊心动魄的3D体验。
            其它受大众热捧的过山车项目还有：神偷奶爸小黄人3D虚拟过山车以及超级愚乐园、变形金刚3D虚拟过山车、木乃伊复仇过山车SM、侏罗纪公园激流勇进®、辛普森虚拟过山车™（毗邻美国人最喜爱的辛普森一家的故乡——春田镇）。</p>
          <p>可以在备受喜爱的哈利波特的魔法世界体验魔法的奇妙魅力，或者来全新开幕的行尸走肉鬼屋身临其境感受末日之后的世界。</p>
        </div>

        <div class="day">
          <h2 class="title">第8天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>全天游览“世界上最快乐的地方”——迪士尼主题公园，你会发现儿时动画片中出现的各种经典形象，如米老鼠、唐老鸭等等，各种精彩刺激的娱乐项目将使您流连忘返。 </p>
          <div class="row">
            <img src="" alt="Disneyland">
          </div>
          <p>加州迪士尼乐园位于美国加利福尼亚州阿纳海姆市迪士尼乐园度假区，自1955年7月17日开幕以来，加州迪士尼乐园就成为世界最受欢迎的主题乐园之一，被人们誉为地球上最快乐的地方。以米老鼠为首的迪士尼家族，每年都有新成员加入，加上迪士尼乐园的软硬件不断推陈出新，使得这儿成为观光客前往洛杉矶，
            绝对不会错过的重要景点。迄今游览过加州迪士尼乐园的游客已经超过5.5亿，这其中包括国家总统、皇室、世界顶级明星。</p>
          <p>“迪士尼度假休闲区”(Disneyland Resort)的范围主要包括迪士尼乐园、迪士尼加州探险乐园和3间度假酒店等。至于占地广大的园区，共分为8个各具不同特色的主题区，包括探险世界(Adventureland)、未来世界(Tomorrowland)、童话城堡(Fantasyland)、西部垦荒时代(Frontierland)、米奇卡通城(Mickey's Toontown)等等，可说是各具特色。</p>
          <div class="row">
            <img src="" alt="Disneyland_2">
          </div>
        </div>

        <div class="day">
          <h2 class="title">第9天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：上午学习ESL语言课程，ESL是全美语言学校最通用的世界级权威英语培训课程。学生通过该课程的学习可以有效提高自身整体的英语能力，能够与以英语为母语的人士零障碍沟通。ESL课程教材专门为母语非英语的学生而设，具有很强的实用性。
            “让英语成为你的第二语言”，是ESL课程终极的教学目标！ESL课程是专门针对国际学生和移民学生而开设的，在课堂上学生不仅能提高英语，还能了解到许多美国文化。
            ESL课程非常注重实用性，取材也常常与社会生活密切相关，所以ESL课程能够让学生了解更多的美国文化。ESL课程会鼓励学生更多地参与到课堂学习中来，采用角色扮演、小组讨论、自由提问、演讲等多种形式，因此学生需要更为积极主动，克服胆怯心理，
            多发言，敢于在他人面前表现自己，多多与老师和同学进行互动沟通。而这正是典型的美式教育特点，因此ESL课程能够有效帮助学生适应新的教学方式，深入了解美国素质教育精髓。
          </p>
          <p>下午：Long Beach海滩，乘船出港，和野生海狮近距离接触，参观博物馆，海洋馆，欣赏海滩港口景色。(*景点会根据行程时间而调整)</p>
          <div class="row">
            <div class="col-md-5">
              <img src="" alt="Long Beach">
            </div>
            <div class="col-md-7">
              <p>长堤海滩Long Beach即著名的长滩市，是美国西海岸最大的旅游区。位于加州南部洛杉矶境内，地处太平洋沿岸，以拥有广阔的海滩而得名。是美国第38大城市，人口40余万，也是美国第八大适合步行的城市。</p>
              <p>这个新兴的城市集农业，海滨度假于一身，拥有太平洋水族馆，拉夫公园，黄金海岸海洋保护区，以及著名的长滩码头和长滩木栈桥等景点。</p>
              <p>长堤还有一道著名的风景线--1936年始航的《玛丽皇后号》邮轮，这艘邮轮在二战时运输军用装备立下赫赫战功，包括英国首相丘吉尔在内的名人政要都乘过这艘邮轮。1967年长滩市拆巨资345万美元买下，并改造成海上旅馆和博物馆。</p>
            </div>
          </div>
        </div>

        <div class="day">
          <h2 class="title">第10天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：与来自不同国家的小伙伴一起学习ESL英语课程，该课程是针对母语为非英语的学生(如中国，法国，日本，巴西等)，所以教学方法会综合考虑学习者的母语和文化背景。学生可以从听说读写各个方面全面提高英语水平，并适应美国的教学方式及目的——学习英语是为了交流，
            只有不断实践，才可能熟练掌握，还有机会在国际化的课堂环境中一同协作完成随堂任务。 </p>
          <div class="row">
            <img src="" alt="Beverly_Hill">
          </div>
          <p>下午: 乘车参观比弗利山庄，参观好莱坞大道，在TCL中国剧院观看电影</p>
          <p>比弗利山庄（Beverly Hills）位于美国洛杉矶，有“全世界最尊贵住宅区”称号，被人们称为财富名利的代表和象征。</p>
          <p>做为洛杉矶市内最有名的城中城，这里有全球最高档的商业街，也云集了好莱坞影星们的众多豪宅，同样还作为世界影坛的圣地。比弗利山庄每年都会吸引无数来自世界各地的观光客，好奇地在大街小巷探索。这里汇聚了全球顶尖的时尚品牌，每家店都金碧辉煌，精雕细琢的大理石配合黄铜大门，拱柱式喷泉使这条街顿时显得更加气势不凡，如今这里是世界最贵的购物中心。</p>
          <p>好莱坞不仅是全球时尚的发源地，也是全球音乐电影产业的中心地带，拥有着世界顶级的娱乐产业和奢侈品牌，引领并代表着全球时尚的最高水平，比如梦工厂、迪士尼、20世纪福克斯、哥伦比亚影业公司、索尼公司、环球影片公司、WB（华纳兄弟）、派拉蒙 等等这些电影巨头，还有像RCAJIVE Interscope Records这样的顶级唱片公司都汇集在好莱坞的范畴之内，
            这里的时尚与科技互相牵制发展，自然是不造作的，拥有着深厚的时尚底蕴和雄壮的科技做支持，一直被全球各地争相模仿。</p>
          <p><b>中国剧院</b></p>
          <p> <img src="" alt="China_Theater" align='left'> 国剧院最吸引人的还是戏院前庭那173位明星所留下的足印，每个到此一游的游客，不是忙着拍摄自己偶像的足印，就是把自己的手放在明星手印上好好比对一番。</p>
        </div>

        <div class="day">
          <h2 class="title">第11天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：与来自不同国家的小伙伴一起学习ESL英语课程，该课程是针对母语为非英语的学生(如中国，法国，日本，巴西等)，所以教学方法会综合考虑学习者的母语和文化背景。学生可以从听说读写各个方面全面提高英语水平，并适应美国的教学方式及目的——学习英语是为了交流，只有不断实践，才可能熟练掌握，还有机会在国际化的课堂环境中一同协作完成随堂任务。 </p>
          <p>下午：在美国体验不一样的中国传统新年</p>
          <div class="row">
            <div class="col-md-5">
              <img src="" alt="Chineses_New_Year">
            </div>
            <div class="col-md-7">
              <p>洛杉矶中国城的新年金龙大游行Los Angeles Annual Golden Dragon Parade，可是南加州最最传统庆春节的活动了。从1898年开始举办. 李小龙以前还当过游行大礼官。每一年，金龙大游行都会吸引超过11万的观众哦。除了各种花车彩车，游行乐队和现场表演，好吃好玩的当然也少不了。届时会有超过数千人的游行队伍以及成千上万的观众一同庆祝.</p>
              <p>中国新年，即春节，对中国人来说是最重要的节日。在中国传统的农历新年中，人们会通过丰富多彩的游行和家庭聚会等方式进行庆祝。中国人也会在这个时候祭拜祖先、祈祷来年好运。豪华大餐、发红包、放烟火也是春节中不可或缺的一部分.同学们可以在一起在美国欢度一个特殊的中国春节.</p>
            </div>
          </div>
        </div>

        <div class="day">
          <h2 class="title">第12天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：上午学习ESL语言课程，ESL是全美语言学校最通用的世界级权威英语培训课程。学生通过该课程的学习可以有效提高自身整体的英语能力，能够与以英语为母语的人士零障碍沟通。ESL课程教材专门为母语非英语的学生而设，具有很强的实用性。“让英语成为你的第二语言”，是ESL课程终极的教学目标！ESL课程是专门针对国际学生和移民学生而开设的，在课堂上学生不仅能提高英语，
            还能了解到许多美国文化。ESL课程非常注重实用性，取材也常常与社会生活密切相关，所以ESL课程能够让学生了解更多的美国文化。ESL课程会鼓励学生更多地参与到课堂学习中来，采用角色扮演、小组讨论、自由提问、演讲等多种形式，因此学生需要更为积极主动，克服胆怯心理，多发言，敢于在他人面前表现自己，多多与老师和同学进行互动沟通。而这正是典型的美式教育特点，
            因此ESL课程能够有效帮助学生适应新的教学方式，深入了解美国素质教育精髓。</p>
          <p>下午:比弗利购物中心，罗迪欧大道。</p>
          <div class="row">
            <div class="col-md-5">
              <img src="" alt="Rodeo_Drive">
            </div>
            <div class="col-md-7">
              <p>比弗利中心是南加州首屈一指的购物中心，地理位置得天独厚，位于比弗利山庄和西好莱坞的交界处，是享誉全球的购物圣地，大牌云集，Bloomingdale和Macy's两家百货巨头也都在这里设店，你还可以经常看到好莱坞明星的身影。明星璀璨的好莱坞使得设计师们也纷纷在此扎根，在比弗利山庄的罗迪欧大道，你不仅可以买到各大奢侈品牌的限量产品，还有众多设计师的高级定制品牌，
                这里素有“明星衣橱”之称，你可以和好莱坞明星比肩，买到世界上独一无二的高定华服。</p>
            </div>
          </div>
        </div>

        <div class="day">
          <h2 class="title">第13天  洛杉矶</h2>
          <h4>行程描述</h4>
          <p>上午：上午学习ESL语言课程，ESL是全美语言学校最通用的世界级权威英语培训课程。学生通过该课程的学习可以有效提高自身整体的英语能力，能够与以英语为母语的人士零障碍沟通。ESL课程教材专门为母语非英语的学生而设，具有很强的实用性。“让英语成为你的第二语言”，是ESL课程终极的教学目标！ESL课程是专门针对国际学生和移民学生而开设的，在课堂上学生不仅能提高英语，
            还能了解到许多美国文化。ESL课程非常注重实用性，取材也常常与社会生活密切相关，所以ESL课程能够让学生了解更多的美国文化。ESL课程会鼓励学生更多地参与到课堂学习中来，采用角色扮演、小组讨论、自由提问、演讲等多种形式，因此学生需要更为积极主动，克服胆怯心理，多发言，敢于在他人面前表现自己，多多与老师和同学进行互动沟通。而这正是典型的美式教育特点，
            因此ESL课程能够有效帮助学生适应新的教学方式，深入了解美国素质教育精髓。</p>
          <p>下午:参观洛杉矶艺术博物馆。</p>
          <div class="row">
            <div class="col-md-7">
              <p>洛杉矶艺术博物馆成立于1910年，是美国西海岸最大的百科全书式博物馆，每年约有一百多万人参观。馆内约有10万件展品，从古代至现代的应有尽有。</p>
              <p>杉矶艺术博物馆根据地区和时间分为现代与当代艺术展馆、美国和拉丁美洲艺术展馆、亚洲艺术展馆等，具体包括有东亚、东南亚文化，南美洲文明，欧洲、美洲的修饰艺术和绘画艺术，埃及艺术，希腊、罗马以及伊特鲁里亚艺术，这些艺术作品同享同一空间，又各据一隅展现着自己的风采，让人感叹艺术家的无穷智慧。展品包括有服饰、纺织品、绘画作品、照片、雕塑、印刷作品等，
                让人目不暇接。洛杉矶艺术博物馆每年都会举办代表世界一流水准的季度性、专题性的展览，具有轰动的影响。</p>
            </div>
            <div class="col-md-5">
              <img src="" alt="LAMCA">
            </div>
          </div>
        </div>

        <div class="day">
          <h2 class="title">第14天  中国</h2>
          <h4>行程描述</h4>
          <p>顺利抵达祖国，结束美国之旅。</p>
        </div>

      </div>
    </main>
    <footer style="height:300px;background-color:grey">

    </footer>
  </body>
</html>
